<div class="jumbotron text-center">
	<h1>Edit: {{ formData.name }}</h1>
	<small>{{ formData.name | slugify }}</small><br />
	<small>{{ horse._id }}</small><br />
	<small ng-controller="RemoveHorseController"><input type="submit" ng-click="removeHorse()" value="remove" /></small>
</div>
<div class="col-md-8 col-md-offset-2">
	<form ng-submit="editHorse()" ng-controller="EditHorseController">
		<fieldset class="col-md-8 col-md-offset-2">
			<div class="form-row">
			<label for="name" class="col-md-4">Name:</label>
				<p class="input-group">
					<input type="text" ng-model="formData.name" name="name" class="form-control" />
				</p>
			</div>
			<div class="form-row">
				<label for="name" class="col-md-4">Slug:</label>
				<p class="input-group">
					<slug from="formData.name" to="formData.slug" name="slug" class="form-slug">{{ formData.slug }}</slug>
					<input type="hidden" ng-model="formData.slug" name="slug" class="form-control" />
				</p>
			</div>
			
	        <div class="form-row">
		        <label for="DOB" class="col-md-4">DOB:</label>
		        <p class="input-group col-md-5">
					<input type="text" class="form-control " uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="DOB" />
					<span class="input-group-btn">
		            	<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
		        	</span>
				</p>
	        </div>

	        <div ng-repeat="photo in formData.photos">
	
	        	<label class="col-md-4">Image:</label>
	        	<img ng-src="{{ photo.imgUrl }}" class="col-md-8" style="padding: 10px; margin-left: -5px;" />

		       	<div class="form-row">
		        	<label for="photos.license" class="col-md-4">Photo license:</label>
		        	<p class="input-group">
		        		<input type="text" ng-model="photo.license" name="license" class="form-control" />
		        	</p>
		        </div>
	 
		        <div class="form-row">
	        		<label for="photos.copyowner" class="col-md-4">Copyright owner:</label>
	        		<p class="input-group">
	        			<input type="text" ng-model="photo.owner" name="copyowner" class="form-control" />
	        		</p>
	        	</div>

	        	<div class="form-row">
	        		<label for="photos.copyurl" class="col-md-4">Copyright owner url:</label>
		        	<p class="input-group">
		        		<input type="text" ng-model="photo.ownerUrl" name="copyurl" class="form-control" />
		        	</p>
	        	</div>

	        </div>

			<div class="form-row">
				<label for="breed" class="col-md-4">Breed:</label>
				<p class="input-group">
					<input type="text" ng-model="formData.breed" name="breed" class="form-control" />
				</p>
			</div>
			<div class="form-row">
				<label for="sex" class="col-md-4">Sex:</label>
				<p class="input-group">
					<input type="text" ng-model="formData.sex" name="sex" class="form-control" />
				</p>
			</div>
			<div class="form-row">
				<label for="color" class="col-md-4">Color:</label>
				<p class="input-group">
					<input type="text" ng-model="formData.color" name="color" class="form-control" />
				</p>
			</div>
			<div class="form-row">
				<label for="sire" class="col-md-4">Sire:</label>
				<p class="input-group">
					<input type="text" ng-model="formData.sire" name="sire" class="form-control" />
				</p>
			</div>
			<div class="form-row">
				<label for="dam" class="col-md-4">Dam:</label>
				<p class="input-group">
					<input type="text" ng-model="formData.dam" name="dam" class="form-control" />
				</p>
			</div>

			<div ng-repeat="offspring in formData.offspring">
				<div class="form-row">
					<label for="foal" class="col-md-4">Offspring:</label>
					<p class="input-group">
						<input type="text" ng-model="offspring.foal._id" name="foal" class="form-control" />
					</p>
				</div>
			</div>
			<div class="form-row">
				<input type="submit" id="submit" value="edit" />
			</div>
		</fieldset>
	</form>
</div>
